body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.container-inicio a {
    color: #fff;
    display: flex;
    left: 0;
    text-decoration: none;
}

h1 {
    font-size: 36px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-top: 20px;
}

p {
    line-height: 1.6;
}

.missao {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 20px 0;
}

.visao {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 20px 0;
}

.valores {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 20px 0;
}

ul {
    list-style-type: circle;
    padding-left: 20px;
}
